fastapi
uvicorn
python-multipart
langchain
langchain-core
langchain-community
langchain-groq
chromadb
unstructured
langchain-huggingface
PyMuPDF
sqlalchemy
spacy
pytest
streamlit
SpeechRecognition
pyttsx3
PyAudio